<div class="mb-3">
  <label for="formFile" class="form-label" id="formLabel">Upload Files</label>
  <input class="form-control" type="file" id="formFile" multiple (change)="onChange($event)">
</div>
<div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
  <div class="progress-bar" [style.width]="progress + '%'">  {{ progress }} </div>
</div>
<div style="display: flex; gap: 1%;">
  <div>
    <button type="button" class="btn btn-primary" style="margin-top: 20px;" (click)="onUpload()">Upload</button>
  </div>
  <div>
    <button type="button" class="btn btn-primary" style="margin-top: 20px;" (click)="onDownloadExcel()">Download Excel</button>
  </div>
  <div>
    <button type="button" class="btn btn-primary" style="margin-top: 20px;" (click)="onDownloadPDF()">Download PDF</button>
  </div>
</div>
