<div class="modal-header">
  <h4 class="modal-title pull-left">{{ title }}</h4>
  <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
    <span aria-hidden="true" class="visually-hidden">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="row">
    <div class="col-sm-12">
      <h4 class="modal-title pull-left">Editar Curso:</h4>
    </div>
    <div class="col-sm-12">
      <div class="modal-body">
        <div class="mb-3">
          <form [formGroup]="form">
            <label for="curso" class="form-label">Nome do Curso</label>
            <input type="text" class="form-control" name="curso" formControlName="curso" id="curso"
              placeholder="Ex: Java" [ngClass]="{'is-invalid' : submitted && hasError('curso')}">
              <div *ngIf="hasError('curso') && hasError('curso')?.['required']">
                  Formulario invalido
              </div>
              <div *ngIf="hasError('curso') && hasError('curso')?.['minlength']">
                  Digite no minimo 3 caracteres!
              </div>
              <div *ngIf="hasError('curso') && hasError('curso')?.['maxlength']">
                  Digite no máximo 8 caracteres!
              </div>
          </form>
          <div *ngIf="!cursoCadastrado; else sucess">
          </div>
          <ng-template #sucess>
            <div class="alert alert-success">
              <span>Curso editado com sucesso!</span>
            </div>
          </ng-template>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-danger" (click)="bsModalRef.hide()">{{ closeBtnName }}</button>
  <button type="submit" class="btn btn-success" (click)="atualizarCurso()">Atualizar Curso</button>
</div>
